:root {
  --global-chromatic-brand-50: #E3E5E7;
  --global-chromatic-brand-100: #C7CBD0;
  --global-chromatic-brand-200: #919AA3;
  --global-chromatic-brand-300: #5F6B78;
  --global-chromatic-brand-400: #465564;
  --global-chromatic-brand-500: #2F4050;
  --global-chromatic-brand-600: #25313C;
  --global-chromatic-brand-700: #1D2832;
  --global-chromatic-brand-800: #1B232A;
  --global-chromatic-brand-900: #171E25;
  --global-chromatic-brand-1000: #111519;
  --global-chromatic-brand-a50: rgba(47, 64, 80, 0.09);
  --global-chromatic-brand-a100: rgba(47, 64, 80, 0.18);
  --global-chromatic-brand-a150: rgba(47, 64, 80, 0.24);
  --global-chromatic-brand-a200: rgba(47, 64, 80, 0.32);
  --global-chromatic-green-50: #EBFAF3;
  --global-chromatic-green-100: #DAF5E8;
  --global-chromatic-green-200: #B6ECD1;
  --global-chromatic-green-300: #91E3BA;
  --global-chromatic-green-400: #48D08C;
  --global-chromatic-green-500: #00BE5F;
  --global-chromatic-green-600: #00A251;
  --global-chromatic-green-700: #008743;
  --global-chromatic-green-800: #006C36;
  --global-chromatic-green-900: #005128;
  --global-chromatic-green-1000: #00361B;
  --global-chromatic-green-a50: rgba(0, 162, 81, 0.09);
  --global-chromatic-green-a100: rgba(0, 162, 81, 0.18);
  --global-chromatic-green-a150: rgba(0, 162, 81, 0.24);
  --global-chromatic-green-a200: rgba(0, 162, 81, 0.32);
  --global-chromatic-red-50: #FFF5F5;
  --global-chromatic-red-100: #FEE4E2;
  --global-chromatic-red-200: #FEC6C3;
  --global-chromatic-red-300: #FD9D96;
  --global-chromatic-red-400: #F96C62;
  --global-chromatic-red-500: #F04438;
  --global-chromatic-red-600: #D92D20;
  --global-chromatic-red-700: #B42318;
  --global-chromatic-red-800: #9A0E0E;
  --global-chromatic-red-900: #880C0C;
  --global-chromatic-red-1000: #750A0A;
  --global-chromatic-red-a50: rgba(217, 45, 32, 0.09);
  --global-chromatic-red-a100: rgba(217, 45, 32, 0.18);
  --global-chromatic-red-a150: rgba(217, 45, 32, 0.24);
  --global-chromatic-red-a200: rgba(217, 45, 32, 0.32);
  --global-chromatic-orange-50: #FFF3EB;
  --global-chromatic-orange-100: #FFE1CC;
  --global-chromatic-orange-200: #FFC499;
  --global-chromatic-orange-300: #FFAC70;
  --global-chromatic-orange-400: #FF9040;
  --global-chromatic-orange-500: #FF7A1A;
  --global-chromatic-orange-600: #E9690C;
  --global-chromatic-orange-700: #C65C10;
  --global-chromatic-orange-800: #A24D10;
  --global-chromatic-orange-900: #813E0E;
  --global-chromatic-orange-1000: #5D2C09;
  --global-chromatic-orange-a50: rgba(233, 105, 12, 0.09);
  --global-chromatic-orange-a100: rgba(233, 105, 12, 0.18);
  --global-chromatic-orange-a150: rgba(233, 105, 12, 0.24);
  --global-chromatic-orange-a200: rgba(233, 105, 12, 0.32);
  --global-chromatic-blue-50: #E7F6FE;
  --global-chromatic-blue-100: #CFEDFC;
  --global-chromatic-blue-200: #A8DFFA;
  --global-chromatic-blue-300: #79CEF8;
  --global-chromatic-blue-400: #57C1F6;
  --global-chromatic-blue-500: #15B0F3;
  --global-chromatic-blue-600: #1291D0;
  --global-chromatic-blue-700: #0F78AD;
  --global-chromatic-blue-800: #0C608A;
  --global-chromatic-blue-900: #094868;
  --global-chromatic-blue-1000: #063145;
  --global-chromatic-blue-a50: rgba(18, 145, 208, 0.09);
  --global-chromatic-blue-a100: rgba(18, 145, 208, 0.18);
  --global-chromatic-blue-a150: rgba(18, 145, 208, 0.24);
  --global-chromatic-blue-a200: rgba(18, 145, 208, 0.32);
  --global-neutral-gray-00: #FFFFFF;
  --global-neutral-gray-50: #F8FAFC;
  --global-neutral-gray-100: #F1F5FA;
  --global-neutral-gray-200: #E3EAF3;
  --global-neutral-gray-300: #CBD5E2;
  --global-neutral-gray-400: #B1C1D2;
  --global-neutral-gray-500: #90A5BB;
  --global-neutral-gray-600: #768EA7;
  --global-neutral-gray-700: #6C849D;
  --global-neutral-gray-800: #58728D;
  --global-neutral-gray-900: #40566D;
  --global-neutral-gray-1000: #2F4256;
  --global-neutral-gray-1100: #243547;
  --global-neutral-gray-1200: #192839;
  --global-neutral-gray-1300: #0C1927;
  --global-neutral-gray-a25: rgba(108, 132, 157, 0.06);
  --global-neutral-gray-a50: rgba(108, 132, 157, 0.09);
  --global-neutral-gray-a75: rgba(108, 132, 157, 0.12);
  --global-neutral-gray-a100: rgba(108, 132, 157, 0.18);
  --global-neutral-gray-a200: rgba(108, 132, 157, 0.32);
  --global-neutral-gray-a400: rgba(108, 132, 157, 0.64);
  --global-neutral-white-500: #FFFFFF;
  --global-neutral-black-500: #000000;
}

