:root {
  --global-elevation-shadow-color: rgba(0, 0, 0, 0.1);

  /* Individual elevation properties (from Figma) */
  --elevation-lowraised-x: 0px;
  --elevation-lowraised-y: 2px;
  --elevation-lowraised-blur: 16px;
  --elevation-lowraised-spread: 0px;
  --elevation-midraised-x: 0px;
  --elevation-midraised-y: 8px;
  --elevation-midraised-blur: 24px;
  --elevation-midraised-spread: 0px;
  --elevation-highraised-x: 0px;
  --elevation-highraised-y: 16px;
  --elevation-highraised-blur: 48px;
  --elevation-highraised-spread: -4px;
  --elevation-highraised-color: rgba(25, 40, 57, 0.18);
}

.global-el-ultraLowRaised {
  box-shadow:
    0 2px 1px -1px var(--global-elevation-shadow-color),
    0 1px 1px 0 var(--global-elevation-shadow-color),
    0 1px 3px 0 var(--global-elevation-shadow-color);
}

.global-el-lowRaised {
  box-shadow:
    0 3px 3px -2px var(--global-elevation-shadow-color),
    0 3px 4px 0 var(--global-elevation-shadow-color),
    0 1px 8px 0 var(--global-elevation-shadow-color);
}

.global-el-midRaised {
  box-shadow:
    0 3px 5px -1px var(--global-elevation-shadow-color),
    0 6px 10px 0 var(--global-elevation-shadow-color),
    0 1px 18px 0 var(--global-elevation-shadow-color);
}

.global-el-highRaised {
  box-shadow:
    0 5px 5px -3px var(--global-elevation-shadow-color),
    0 8px 10px 1px var(--global-elevation-shadow-color),
    0 3px 14px 2px var(--global-elevation-shadow-color);
}

.global-el-ultraHighRaised {
  box-shadow:
    0 7px 8px -4px var(--global-elevation-shadow-color),
    0 12px 17px 2px var(--global-elevation-shadow-color),
    0 5px 22px 4px var(--global-elevation-shadow-color);
}